/* --------------- BASIC SETTINGS --------------- */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

/* Center Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* --------------- HEADER --------------- */
.header {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky; /* header fixed top */
  top: 0;
  z-index: 10; 
}

/* Header Flex */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

/* Logo size */
.logo img {
  width: 150px;
}

/* Navigation Style */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #777;
}

nav ul li a:hover {
  color: black;
}

/* --------------- HERO SECTION --------------- */
.hero {
  background-image: url('./assets/images/mobile-banner.jpg');
  background-size: cover;   /* image full cover */
  background-position: center;  
  height: 70vh;             /* hero height */
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
}

/* Hero Heading */
.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* --------------- ABOUT SECTION --------------- */
.about {
  padding: 60px 20px;
  text-align: center;
  
  /* md-center; */
}

.about span {
  color: red;
}

/* Underline Title */
.headTitle {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.headTitle::after {
  content: "";
  width: 80px;
  height: 3px;
  background: red;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

/* Paragraph Container like official website */
.about-text {
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  font-size: 1.05rem;
  color: #444;
  text-align:center;
}

/* --------------- COURSES --------------- */
.courses {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  background: white;
}

/* Each course card */
.course-card {
  width: 310px;
  background: white;
  /* padding: 15px; */
  text-align: center;
  /* border-radius: 2px; */
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover; 
  border-radius: 10px;
}

.course-card a {
  color: red;
  text-decoration: none;
  font-weight: 300;
}

/* --------------- SUB FOOTER --------------- */
.sub-footer {
  background: #f1f1f1;
  padding: 25px;
  text-align: center;
}

.sub-footer a {
  color: red;
}

/* --------------- FOOTER --------------- */
.footer {
  background: #091525;
  color: white;
  padding: 25px;
  text-align: center;
}

.social-icons i {
  margin: 0 10px;
  font-size: 25px;
  color: #3fa8ff;
}
